@{title('Full website example')}

<h1>Total.js Example</h1>
<div class="row">
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/001.jpg" border="0" alt="Eshop" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/002.jpg" border="0" alt="Easy modifications" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/003.jpg" border="0" alt="Redesign it" class="img-responsive img-rounded" /></a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="newsletter" data-component="newsletter" data-success="Thanks, you have been added." data-widget="true">
			<div class="newsletter-button"><button><span class="fa fa-envelope"></span>SUBMIT</button></div>
			<div class="newsletter-input"><input type="text" placeholder="Join to our mailing list"></div>
		</div>
	</div>
</div>
<br />
<hr />
<br />
<div class="row">
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-md-6 col-md-offset-3 m">
		<a href="/contact/" class="linkbutton">CONTACT US</a>
	</div>
</div>