<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min.css" />
	<script src="//cdn.componentator.com/spa.min.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body data-jc="exec">
	<div data-jc="cookie" class="hidden">This site uses cookies for visitor statistics. By continuing to browse the site you are agreeing to our use of cookies.</div>
	<header>
		<div class="container">
			<a href="javascript:void(0)" class="mainmenu-button"><i class="fa fa-navicon"></i></a>
			<a href="/"><img src="/img/logo.png" alt="@{config.name}" border="0" height="30" /></a>
			<nav>
				<a href="/"><i class="fa fa-home"></i>Home</a>
				<a href="/services/">Services</a>
				<a href="/references/">References</a>
				<a href="/contact/">Contact</a>
			</nav>
		</div>
	</header>
	<div class="container">
		@{body}
	</div>
	<footer>
		<div>&copy; 2015-2017 All rights reserved.</div>
		<div><a href="http://www.totaljs.com">Powered by Total.js</a></div>
	</footer>

</body>
</html>