<style>
	.CLASS .reference * { transition: all 0.5s; }
	.CLASS .reference a { position: relative; display: block; color: gray; }
	.CLASS .reference a:hover { text-decoration: none !important; }
	.CLASS .reference a:hover * { text-decoration: none; }
	.CLASS .reference a:hover span { background-color: #F0F0F0; color: black; }
	.CLASS .reference-title { display: block; padding: 10px 0; background-color: #F8F8F8; text-align: center; font-size: 12px; }
	.CLASS .reference b { display: block; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
	.CLASS .reference { margin-bottom: 30px; }
</style>


<ui-plugin path="~PATH~" class="CLASS">
	<h1>References</h1>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 reference">
			<a href="#"><img src="/public/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
		</div>
	</div>
</ui-plugin>
