@{title('Services')}

<h1>Our work <b>is our hobby</b></h1>
<br />
<div class="row">
	<div class="col-md-6 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-6 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
</div>
<br />
<div><img src="/img/image.jpg" alt="Our work" border="0" class="img-responsive img-rounded" /></div>
<br />
<br />
<div class="row">
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
	<div class="col-md-4 m">
		<h2>Lorem ipsum dolor sit</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate excepturi sunt ex tempora sit obcaecati consequatur asperiores doloremque assumenda dolorum totam possimus, ipsa eveniet, dolor temporibus magnam! Praesentium, maiores.
	</div>
</div>