/* Source: www.componentator.com */

.ui-textbox { border: 1px solid #E0E0E0; padding: 5px 2px 5px 5px; border-radius: 2px; position: relative; width: 100%; background-color: white; display: table; }
.ui-textbox input { display: table-cell; border: 0; outline: 0; font: normal 14px Arial; color: black; width: 100%; background-color: white; }
.ui-textbox div { width: 1%; position: relative; vertical-align: middle; display: table-cell; text-align: center; white-space: nowrap; text-overflow: clip; border-left: 1px solid #E0E0E0; width: 30px; color: silver; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; color: #656D78; text-align: left; }
.ui-textbox-label .fa { width: 14px; }
.ui-textbox-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textbox-invalid { border: 1px solid #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-textbox-invalid input { background-color: #FFF3F3 !important; }
.ui-textbox .fa-caret-up, .ui-textbox .fa-caret-down { display:block; line-height:9px; cursor: pointer; }

.ui-right { text-align: right; }
.ui-center { text-align: center; }
.ui-disabled { background-color: #F0F0F0; cursor: not-allowed; }
.ui-disabled > div { background-color: #F0F0F0; }

.ui-textarea { border: 1px solid #E0E0E0; padding: 4px 5px; border-radius: 2px; position: relative; display: block; width: 100%; background-color: white; }
.ui-textarea textarea { border: 0; width: 100%; outline: 0; font: normal 14px Arial; color: black; resize: none; min-height: 50px; background-color: white; padding: 0; }
.ui-textarea-label { margin-bottom: 5px; font-size: 12px; text-align: left; color: #656D78; }
.ui-textarea-label .fa { width: 14px; }
.ui-textarea-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textarea-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textarea-invalid textarea { background-color: #FFF3F3 !important; }
.ui-textarea-code textarea { font-family: monospace; font-size: 14px; }

.hidden { display: none; }

.button { position: relative; display: inline-block; margin: 0; padding: 0; border: 2px solid #D0D0D0; border-radius: 4px; background-color: white; background: linear-gradient(white,#F0F0F0); padding: 20px 0; font: normal normal 14px Arial; vertical-align: middle; color: gray; width: 100%; }
.button:hover { border-color: silver; }
.button:active { background: white; color: #A4A4A4; }
.button:disabled { color: silver; border-color: #E0E0E0; cursor: not-allowed; background: white; }
.button-small { padding: 13px 0; }
